/*** RESETS ***/

figure img {
    max-width: 80vw;
    max-height: 80vh;
}

p {
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, san-serif;
    font-size: 20px;
    margin: 0;
    background: hsl(0, 0%, 90%);
    min-width: 240px;
}

/*** STATUS COLOURS ***/

.status-ok {
    background: #3fad46;
}

.status-warning {
    background: #f0ad4e;
}

.status-danger {
    background: #d9534f;
}

.border-ok {
    border: 1px solid #3fad46;
}

.border-warning {
    border: 1px solid #f0ad4e;
}

.border-danger {
    border: 1px solid #d9534f;
}

.border-top {
    border-top: 1px solid #999;
}

/*** HEADER / NAV ***/

header {
    padding: .75rem 1rem;
    background: hsla(0, 0%, 0%, .8);
    margin-bottom: 2rem;
    box-shadow: 0 0.25rem 0.75rem hsla(0, 0%, 0%, .5);
    z-index: 10;
}

h1 {
    margin: 0;
    color: hsl(0, 0%, 80%);
    font-size: 1.7rem;
}

h2#tagline {
    font-weight: lighter;
    color: white;
    margin: 0;
    font-size: 1.4rem;
}

/*** FIGURE & CAPTION TEXT ***/

#headline {
    font-weight: bold;
}

#paper {
    font-style: italic;
}

#article {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    border-radius: .25rem
}


/*** GUESSES COUNTER ***/

#count {
    text-align: center;
    border-radius: 4px;
    max-width: 12rem;
    margin: 1rem;
    background: white;
}

#count p {
    margin: 0;
    padding: .5rem;
}

#guesses {
    font-size: 3rem;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
}

#text-guesses {
    color: #ffffff;
    font-size: 1.4rem;
}

.input-year {
    width: 5rem;
    text-align: right;
}


/*** LOADING INDICATOR ***/

.loading-indicator {
    height: 80px;
    width: 80px;
    background: url('https://cdn.glitch.com/525f3781-47b3-4fc3-87f5-fef704d62371%2Floading.gif?1515388800627');
    background-repeat: no-repeat;
    background-position: center center;
}

.loading-indicator-overlay {
    background-color: #FFFFFF;
    opacity: 0.6;
    filter: alpha(opacity=60);
}





.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.btn {
    font-size: 1.2rem;
    margin: .5rem;
    padding: 1rem 2rem;
    background: none;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1rem hsla(0, 0%, 0%, .5);
    transition-duration: .3s;
}

input {
    font-size: 2rem;
    padding: .5rem 1rem;
    margin: 1rem;
    border-radius: .25rem;
    border: none;
}

hover {
    background-color: orange;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1rem;
}

.input-year {
    text-align: right;
}

.input-topic {
    font-size: 1.4rem;
    width: 90%;
}

.btn-guess {
    background: hsla(220, 90%, 60%, 1);
    color: white;
}



.img-block {
    background: white;
}

.btn:hover {
    box-shadow: 0 0 2rem hsla(0, 0%, 0%, .75);
    transform: scale(1.1);
}

#reload-button {
    width: 15rem;
    box-shadow: 0 0 0 hsla(0, 0%, 0%, .75);
}

nav a {
    text-decoration: none;
    padding: .5rem;
}

nav {
    padding: .5rem;
    background: white;
    z-index: 20;
}

.slq-wordmark {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
    color: black;
}

footer a {
    color: hsl(0, 0%, 95%);
    text-decoration: none;
}

.app-info {
    /* margin-top: 2rem; */
    margin: 1rem 4rem;
}

/* SLQ Standard footer for microsites */

/*** FOOTER ***/

footer {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: wrap;
    padding-top: .8rem;
    padding-bottom: 2rem;
    background: hsla(0, 0%, 0%, .8);
    margin-top: 2rem;
    box-shadow: 0 0 .75rem black;
    color: hsl(0, 0%, 80%);
    font-size: .9rem;
}

footer #logos {
    display: inline-flex;
    justify-content: left;
    align-content: flex-start;
    margin: 1rem;
}

footer #logos a {
    display: flex;
    align-items: flex-start;
    margin: .5rem;
    max-width: 150px;
}

footer #logos img {
    height: 100%;
    width: 100%;
    /* display:  block; */
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

footer em {
    color: white;
}

footer ul {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

footer ul li {
    display: inline-flex;
    padding-top: .4rem;
    padding-left: .6rem;
    padding-right: .6rem;
    padding-bottom: .4rem;
}

/* Mobile */

@media screen and (max-width: 768px) {
    footer ul {
        padding-left: 0;
        flex-direction: row;
        flex-flow: wrap;
    }
}

/* Tablet & Desktop */

@media screen and (min-width: 768px) {
    footer ul {
        flex-direction: row;
        flex-flow: wrap;
    }
}
